@using Microsoft.AspNetCore.Http;
@model WebApplication9.Models.Deposit

@{
    ViewData["Title"] = "AddDeposit";

}

<br>
<form asp-action="AddDeposit" asp-controller="Home">
    <label asp-for="Amount">Kwota</label>
    <input asp-for="Amount" placeholder="Kwota" />
    <label asp-for="LendingRate">Oprocentowanie</label>
    <input asp-for="LendingRate" placeholder="Kwota oprocentowania" />
    <label asp-for="DateOfStart">Data założenia</label>
    <input type="date" asp-for="DateOfStart" placeholder="Kwota oprocentowania" />
    <label asp-for="DateOfEnd">Data zakonczenia</label>
    <input type="date" asp-for="DateOfEnd" placeholder="Kwota oprocentowania" />
    <input type="submit" />
</form>